<%= form_title(@institution, 'name') %>

<div class="nav-tabs-top">

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#institution-tab"><%= Institution.model_name.human(count: 1) %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#major-tab"><%= Major.model_name.human(count: 1) %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#bank_accounts_tab"><%= BankAccount.model_name.human(count: 1) %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#location-tab"><%= Location.model_name.human(count: 1) %></a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane fade show active" id="institution-tab">
      <%= build_form(@institution,'update',current_user.template('Institution','institutions',current_user),html: { class: 'form-group', method: 'put'}, header_title: false)%>
    </div>

    <div class="tab-pane fade" id="major-tab">
			<div class="card">
				<div class="card-body">
          <% major_template = current_user.template('Major', 'majors',  current_user, id: true) %>
          <% major_template[:id][:controller] = 'majors' %>
          <% major_template[:id][:action] = 'edit' %>
          <% major_template[:id][:target_id] = 'id' %>
          <%= createTable(@institution.major,major_template,title: false,alternative_new_link: new_institution_major_path(institution_id: @institution.id)).html_safe %>
				</div>
			</div>  	
    </div>
    
    <div class="tab-pane fade p-4" id="bank_accounts_tab">
      <% bank_account_template = current_user.template('BankAccount', 'bank_accounts',  current_user, id: true) %>
      <% bank_account_template[:id][:controller] = 'bank_accounts' %>
      <% bank_account_template[:id][:action] = 'edit' %>
      <% bank_account_template[:id][:target_id] = 'id' %>
      <%= createTable(@institution.bank_account, bank_account_template, id: 'table_institution_bank_accounts', title: false,alternative_new_link: new_bank_account_path(resource_id: @institution.id, resource_type: 'Institution')).html_safe %>
    </div>

    <div class="tab-pane fade" id="location-tab">
			<%= build_form(@institution.location,'update',current_user.template('Location','locations',current_user),controller: 'locations',remote: true, html: { class: 'form-group', method: 'put'}, header_title: false)%>
    </div>
  </div>
  
</div>
