<%= stylesheet_link_tag 'pages/authentication.css', media: 'all' %>

<!--
=================================================================
**************************** CONTENT ****************************
-->

<div class="authentication-wrapper authentication-3">
  <div class="authentication-inner">

    <!-- Side container -->
    <!-- Do not display the container on extra small, small and medium screens -->

    <% if !current_company.signup_logo.attached? %>
      <div class="d-none d-lg-flex col-lg-8 align-items-center ui-bg-cover ui-bg-overlay-container p-5" style="background-image: url(<%= asset_path("devise/sign_up.jpg") %>);">
    <% else %>
      <% if current_company.id == 56 %>
        <div class="d-none d-lg-flex col-lg-8 align-items-center ui-bg-cover p-5" style="background-image: url('<%= rails_blob_url(current_company.signup_logo)%>');">
      <% else %>
        <div class="d-none d-lg-flex col-lg-8 align-items-center ui-bg-cover ui-bg-overlay-container p-5" style="background-image: url('<%= rails_blob_url(current_company.signup_logo)%>'); ">
      <% end %>
    <% end %>






      <div class="ui-bg-overlay bg-dark opacity-50"></div>

      <% if current_company.id != 56 %>
        <!-- Text -->
        <div class="w-100 text-white px-5">
          <h2 class="display-3 font-weight-bolder mb-4"><%= I18n.t('devise.additional.brighter_future') %></h2>
          <div class="text-large font-weight-light">
            <p><%= I18n.t('devise.additional.brighter_future_p1') %></p>
            
          </div>
        </div>
      <%end%>
      <!-- /.Text -->
    </div>
    <!-- / Side container -->

    <!-- Form container -->
    <div class="d-flex col-lg-4 align-items-center bg-white p-5">
      <!-- Inner container -->
      <!-- Have to add `.d-flex` to control width via `.col-*` classes -->
      <div class="d-flex col-sm-7 col-md-5 col-lg-12 px-0 px-xl-2 mx-auto">
        <div class="w-100">


          <h4 class="text-center text-lighter font-weight-normal mt-1 mb-0"><%= I18n.t('devise.additional.create_account') %></h4>

          <!-- Form -->

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => "my-5"}) do |f| %>
  <%= devise_error_messages! %>




  <div class="form-group">
    <%= f.label :first_name, class: "form-label" %><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: "First Name" ,class: "form-control",required: true%>
  </div>

  <div class="form-group">
    <%= f.label :last_name, class: "form-label" %><br />
    <%= f.text_field :last_name, autofocus: true, autocomplete: "Last Name" ,class: "form-control",required: true%>
  </div>

  <div class="form-group">
    <%= f.label :email, class: "form-label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class: "form-control",required: true%>
  </div>

  <div class="form-group">
    <%= f.label :password, class: "form-label" %>
    <% if @minimum_password_length %>
    <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" ,class: "form-control",required: true%>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, class: "form-label" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" ,class: "form-control",required: true%>
  </div>
  <%= f.hidden_field :type_of_account, value: 'student' %>
  <%= f.hidden_field :company_id, value: current_company.id %>
  <%= f.hidden_field :time_zone, value: current_company.timezone %>
  <%= f.hidden_field :team_profile_id, value: current_company.get_student_profile_id('create_account') %>
  <div class="text-center my-3 d-flex">
    <%= recaptcha_tags( callback: 'enable_submit') if Rails.env == 'production' %>
  </div>

  <div class="actions">
    <%= f.submit t('.sign_up'),class: "btn btn-primary btn-block mt-4",disabled: (Rails.env == 'production' && true) %>
  </div>


            <div class="text-light small mt-4">
              <%= I18n.t('devise.additional.agree_p1', button: t('.sign_up')) %>
              <a href="javascript:void(0)"><%= I18n.t('devise.additional.agree_p2') %></a> <%= I18n.t('devise.additional.agree_p3') %>
            </div>



<% end %>

<%= render "devise/shared/links" %>

          <!-- / Form -->

        </div>
      </div>
    </div>
    <!-- / Form container -->

  </div>
</div>




