<table class="table">
  <thead>
    <tr>
      <th scope="col"><%= I18n.t('disbursement.number') %></th>
      <th scope="col"><%= I18n.t('disbursement.date') %></th>
      <th scope="col"><%= I18n.t('disbursement.value') %></th>
      <th scope="col"><%= I18n.t('disbursement.disbursement_case') %></th>
      <%= new_amendment_status(application) %>
    </tr>
  </thead>
  <tbody>
    <% disbursements.each_with_index do |disbursement,index| %>
    <tr>
      <td> <%= index + 1 %></td>
      <td><%= lumni_date(disbursement.forcasted_date)%> </td>
      <td><%= lumni_currency(disbursement_value(application, disbursement), disbursement.currency) %></td>
      <td><%= I18n.t("application.#{disbursement.disbursement_case}") %></td>
      <%= new_amendment_disbursement_status(application, disbursement) %>
    </tr>
    <% end %>
  </tbody>
</table>
