<%= form_tag edit_dashboard_path(params[:id]),method: :get do %>
<div class="row">
	<div class="col-md-3 my-2">
		<label class="form-label">Fecha de pago desde:</label>
		<%= lumni_text_field('disbursements_paid_in_the_month','start_date',{type: 'text',class: 'lumni_date',value: @start_date}) %>
	</div>
	<div class="col-md-3 my-2">
		<label class="form-label">Hasta: </label>
		<%= lumni_text_field('disbursements_paid_in_the_month','end_date',{type: 'text',class: 'lumni_date',value: @end_date}) %>
	</div>
	<div class="col-md-3 my-2 d-flex">
		<%= button_tag 'Buscar', class: 'btn btn-primary align-self-end' %>
	</div>
</div>
<% end %>

<%= createTable(@disbursements_paid,disbursements_paid_in_the_month_template, title: false, new: false, current_value: true).html_safe %>