<div   id="buttons-field-<%= @form_field_id %>" class="btn-group">
	<div >
		<%= button_to(field_form_form_template_path(@form_field_id), class: 'btn icon-btn btn-xs template-modal' , id: ("buttonadd-field-container-#{@form_field_id}"), remote: true) do %>
			<span class="ion ion-md-apps"></span>
		<% end %>
	</div>

  <div id="moving-container-<%= @form_field_id %>">
  	<% if @row !=0 %>
      <button type="button" class="btn icon-btn btn-xs inactivate-field" id="buttonremove-field-container-<%= @form_field_id %>">
        <span class="ion ion-ios-trash"></span>
      </button>
    <% else %>
      <button type="button" class="btn icon-btn btn-xs activate-field" id="buttonadd-field-container-<%= @form_field_id %>">
        <span class="ion ion-md-return-left "></span>
      </button>
    <% end %>
  </div>

</div>
