<div class="row">
  <div class="offset-md-4 col-md-4">
    <div class="card">
      <div class="card-body">
        <h5>Conciliación Anual</h5>
        <p>Procedimiento descrito en el contrato, para llevar a cabo una conciliación anual con el fin de determinar pagos en exceso o en defecto realizado por el Estudiante.</p>
        <p class="my-4">Para la conciliación necesitarás el certificado de ingresos del año que deseas conciliar.</p>
        <p class="my-4">Elige el año y el registro de ingreso a conciliar.</p>
        <div class="text-center my-4">

          <% if true %>
          	<%= form_tag activate_conciliation_application_isa_path(@isa), class: 'my-4' do %>
              <%= lumni_dropdown_field( 'conciliation','year',@options,{}) %>
              <%= lumni_dropdown_field( 'conciliation','income_information_id',@options_income,{}) %>

  	          <%= button_tag 'Presentar Conciliación',type: 'submit', class: 'btn btn-primary my-4'%>
          	<% end %>


          <% else %>
            <div class="card">
              <div class="card-body bg-info text-white text-center">
                <%= I18n.t('application.under_review') %>
              </div>
            </div>
          <% end %>

        </div>
        
      </div>
    </div>
  </div>	
</div>

