<% section = additional_form_info[:section] %>
<% application = additional_form_info[:application] %>
<% full_student = additional_form_info[:full_student] %>
<% target_info = additional_form_info[:target_info] %>

<% references = full_student.reference %>
<% hidden_fields = additional_form_info[:hidden_fields] %>

<div id="references-application-container-<%=target_info.id %>" class="mt-4">
	<div class="d-flex mb-4">
		<h4 class="my-2"><%= I18n.t('application.references_information') %></h4>
		<%= button_tag I18n.t('application.add_new_reference'),type: 'button', class: 'btn btn-primary ml-3', data: {toggle: 'modal', target: "#new_reference_record_#{target_info.id}"} %>
	</div>
	<h5 class="my-2"><%= I18n.t('application.reference_notification') %></h5>

	<div id="created-reference-container-<%=target_info.id %>">
		<div class="row" id="references-main-container">
			<% references.each do |reference| %>
				<%= render '/references/partial/reference_body', reference: reference,visible: application.active?, template_id: section.cached_form_template.child_id, modal_id: target_info.id, section: section, application: application%>
			<% end %>
		</div>
	</div>
</div>
