<div class="row">
	<div class="col-md-6">
		<%= create_user_questionnaire_result @user_questionnaire.id %>


		<div class="accordion" id="acordion-notes-quesitonnaire">
		  <div class="card">
		    <div class="card-header p-0 d-flex flex-column" id="confirm-results-tab">
		      	<%= button_tag 'Notas', class: 'btn btn-primary', type: 'button', data: {toggle: 'collapse',target: "#notes-card"},aria: {expanded: true, controls: 'notes-card'}%>
		    </div>
		    <div id="notes-card" class="collapse" aria-labelledby="notes-tab" data-parent="#acordion-notes-quesitonnaire">
		      <div class="card-body">
				<% @user_questionnaire.user_questionnaire_answer.each do |answer| %>
					<% if answer.answer.score < 100 %>
						<h6><%= answer.answer.question.question %></h6>
						<p><%= answer.notes %></p>
					<% end %>
				<% end %>
		      </div>
		    </div>
		  </div>
		</div>	










	</div>
	<div class="col-md-6">
		<h4 class="text-primary mb-5">Confirmar el resultado</h4>

		<div class="accordion" id="acordion-decision-quesitonnaire">


		  <div class="card">
		    <div class="card-header p-0 d-flex flex-column" id="confirm-results-tab">
		      	<%= button_tag 'Confirmar resultados', class: 'btn btn-primary', type: 'button', data: {toggle: 'collapse',target: "#confirm-results-card"},aria: {expanded: true, controls: 'confirm-results-card'}%>
		    </div>
		    <div id="confirm-results-card" class="collapse show" aria-labelledby="confirm-results-tab" data-parent="#acordion-decision-quesitonnaire">
		      <div class="card-body">
		      	<p class="my-3">Seleccionando el siguiente botón confirmará el resultado del cuestionario.</p>

		      	<div class="text-center py-4">	
				      	<%= button_to 'Confirmar resultado', save_confirmation_user_questionnaire_path(@user_questionnaire), class: 'btn btn-primary'%>
		      	</div>
		      </div>
		    </div>
		  </div>



		  <div class="card">
		    <div class="card-header p-0 d-flex flex-column" id="request-corrections-tab">
		      	<%= button_tag 'Solicitar correcciones', class: 'btn btn-primary', type: 'button', data: {toggle: 'collapse',target: "#request-corrections-card"},aria: {expanded: true, controls: 'request-corrections-card'}%>
		    </div>
		    <div id="request-corrections-card" class="collapse" aria-labelledby="request-corrections-tab" data-parent="#acordion-decision-quesitonnaire">
		      <div class="card-body">
		      	<p class="my-3">Ajusta el texto que será enviado al estudiante para solicitar ajustes a su aplicación. La aplicación será reactivada y el estudiante podrá actualizarla, siguiendo los lineamientos del correo</p>


		      	<%= form_tag request_correction_user_questionnaire_path(@user_questionnaire),id: 'request-correction-form' do %>
		      		<%= lumni_textarea_field('message','custom_message',type: 'textarea') %>
		      		<div class="text-center my-3">
			      		<%= button_tag I18n.t('general.save'), class: 'btn btn-primary' %>
		      		</div>
		      	<% end %>



		      </div>
		    </div>
		  </div>


		</div>	
				
	</div>
</div>


